#header {
	background-color: #a40404;
	background-image: url(/graphics/tactile/headers/red.png);
}
#header #topbit h1 { color: #fff; }
	#header #topbit h1 a { color: #fff; }

.topNav li.level1 { background-color: #CC7777; }
	.topNav li a { color: #fff; }
	.topNav li.hover a { color: #333; }
	.topNav li.current a { color: #333; }
		
ul#mini_nav li { color: #fff; }
	ul#mini_nav li a {
		color: #fff;
		border-left-color: #fff;
	}